{:paths ["src"]
 :deps {io.github.inferenceql/gen.clj {:git/sha "56551c1d74aa7ff8925056e134f031c702fe952c"}
        io.github.inferenceql/inferenceql.inference {:git/sha "40e77dedf680b7936ce988b66186a86f5c4db6a5"}}}

