{:paths ["src"]
 :deps {io.github.inferenceql/gen.clj {:git/sha "56551c1d74aa7ff8925056e134f031c702fe952c"}
        io.github.inferenceql/inferenceql.inference {:git/sha "40e77dedf680b7936ce988b66186a86f5c4db6a5"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                               org.clojure/test.check {:mvn/version "0.10.0"}}
                  :exec-fn cognitect.test-runner.api/test}}}

